.list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, minmax(320px, 1fr));
  justify-items: center;
  gap: 20px;
}

@media (max-width: 1700px) {
  .list {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
  }
}

@media (max-width: 1360px) {
  .list {
    grid-template-columns: repeat(4, minmax(240px, 1fr));
  }
}

@media (max-width: 1050px) {
  .list {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }
}
@media (max-width: 796px) {
  .list {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

.listItem {
  list-style: none;
  padding: 0;
  padding-block: 30px;
  margin: 0;
}