.header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 10;
}

.headerInner {
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    display: none;
  }

  @media (width < 700px) {
    & {
      padding-block: 10px;
    }

    .nav {
      display: none;
    }

    .button {
      display: flex;
    }
  }
}