.page {
  position: relative;
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
  }

  .title {
    text-align: center;
  }

  .link {
    background-color: var(--color-black);
    color: var(--color-white);
    align-self: center;
  }
}

.img1,
.img2 {
  position: absolute;
  bottom: 0;
  height: auto;
}

.img1 {
  left: 0;
  transform-origin: left bottom;
}

.img2 {
  right: 0;
  transform-origin: right bottom;
}

@media (width < 1280px) {
  .img1 {
    width: 400px;
  }

  .img2 {
    width: 250px;
  }
}

@media (width < 780px) {
  .img1 {
    left: -90px;
    width: 300px;
  }

    .img2 {
    width: 180px;
  }
}